/*Four Buttons To The Left */
body {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(33, 33, 33, 0);
    position: relative;
    z-index: 1;

}

.left_buttons{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
}

.left_buttons:hover {
    background-color: rgba(17, 17, 17, 0.60);
}

/*Two Buttons To The Right */

.right_buttons{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
}

.right_buttons:hover {
    background-color: rgba(17, 17, 17, 0.60);
}

.slide-down-page {
    position: absolute;
    width: 100%;
    box-sizing: content-box;
    background-color: #333333;
    text-align: right;
    z-index: 1;
}
.content {
    position: relative;
    height: 1800px;
    background-color: #e0e0e0;
    text-align: center;
}

.background-wrap{
    width: inherit;
    height: auto;
    overflow: auto;
    position: absolute;
    left: 0px;
    top: 0px;
}
#video-bg-content{
    width: 100%    !important;
    height: auto   !important;
}
img {
    position: relative;
}
