

.card {
    padding: 30px;
    float: left;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: black;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container{
    z-index: 7;
    width: 200px;
    color: gray;
    height: 50px;
}

